
.container-main img{
    width: 100%; 
}
.container1 {
    position: relative;
    font-family: Arial;
  }
  .text-block1 {
    position: absolute;
    bottom: 450px;
    left: 100px;
    color: rgb(3, 3, 3);
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    padding: 20px 40px;
    border-radius: 10px;
  }
  
.text-block {
   position:absolute;
   top:15%;
   width: 100%;
   padding: 30px;
  }

 
  .mid-nav{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: white;
    color: black;
    padding: 30px;
    border-radius: 10px;  
  }

.find-button{
    background-color: black;
    color: rgb(219, 209, 209);
    padding: 10px 90px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
}
.find-button:hover{
    color:white;
}
.banner-section{
    text-align:left;
}
